    <!-- Bron: The Liquid Template Language-->


<section class="latest-books-section">
    <h2 class="text">
        <span class="letter letter-1">L</span>
        <span class="letter letter-2">A</span>
        <span class="letter letter-3">T</span>
        <span class="letter letter-4">E</span>
        <span class="letter letter-5">S</span>
        <span class="letter letter-6">T</span>
        <span class="letter letter-7">B</span>
        <span class="letter letter-8">O</span>
        <span class="letter letter-9">O</span>
        <span class="letter letter-10">K</span>
        <span class="letter letter-11">S</span>
    </h2>

    <div class="latest-books">
        {% assign books = "Ole,Fatima,Jules,Mathijs,Halima,Julia,Karima,Dylan,Amber,Marcin,Nadia,Ravi,Clarice,Branco,Kim" | split: "," %}
        {% assign images = "1.PNG,14.PNG,7.PNG,4.PNG,halima.PNG,6.PNG,10.PNG,8.PNG,5.PNG,marcin.PNG,nadia.PNG,ravi.PNG,clarice.PNG,13.PNG,9.PNG" | split: "," %}

        {% for book in books %}
        <article class="book" data-book="{{ book }}">
            <img src="{{ site.baseurl }}/assets/{{ images[forloop.index0] }}" alt="Cover of book titled '{{ book }}'">
            <span class="book-title">{{ book }}</span>
        </article>
        {% endfor %}
    </div>
</section>
